{% extends 'master.html' %}
{% block content %}

<section id="form" style="margin-left: 30%;margin-top: 5%;"><!--form-->
    <div class="container">

        <div class="col-sm-4 col-sm-offset-1">
            <div class="signup-form"><!--login form-->
                <h2>LReset Password</h2>
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    {{field.errors}}

                    <label>{{field.label_tag}}</label>
                    <p>{{field}}</p>
                    {% endfor %}
                    
                    <button class="btn btn-default" type="submit">send confirmation link</button><br>
                   
                </form>

            </div>

        </div>

    </div>
</section><!--/form-->




{% endblock %}